@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

html, body {
  font-family: 'Raleway', Helvetica, sans-serif;
  padding: 20px;
}

body {
  background-image: url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size:cover;
}

h1 {
  text-align: center;
  color: white;
}

#description { 
  text-align: center;
  color: white;
  font-style: italic;
}

#container {
  background-color: #292948;
  opacity: 90%;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;

}
.row {
  padding: 10px;

}
.Left {
  display: inline-block;
  text-align: center;
  padding-right: 10px;
}
select {
  width: 100%;
  max-width: 500px;
  text-align: center;
  height: 25px;
  margin-top:3px;
}
#title {
  font-size: 24px;
  text-align: center;
}
#name, #email, #number {
  width: 100%;
  border-radius: 5px;
  border-style: none;
  height: 35px;
  padding: 15px;
}

p.radio {
  color: white;
  display:inline;
}
#comments {
  font-size: 14px;
  font-family: monospace;
}
#description {
  font-size: 16px;
}
#submit {
  align-items: center;
  font-size: 14px;
  background-color: rgb(69, 173, 69);
  height: 40px;
  width: 100%;
}
.button {
  border-radius: 10px;
  box-shadow: 0 4px 8px;
}
.button:hover {
  background-color: blue;
  opacity: 0.5;
}

label {
  color: white;
}

textarea {
  width: 100%;
  height: auto;
  max-width: 650px;
}
